<html>

<head>
    <link rel="stylesheet" href="../css/wheel.css">
</head>
<body>
    <div id="screen">
        <div id="board"></div>
        <div id="bad_Wheel"></div>
        <div id="shadow_Wheel"></div>
        <div id="good_Wheel"></div>
        <div id="player_menu"></div>
    </div>

    <script src="../js/Board.js"></script>
    <script src="../js/Enemy.js"></script>
    <script src="../js/Item.js"></script>
    <script src="../js/Player.js"></script>
    <script src="../js/Wheel.js"></script>
</body>

</html>